@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');

@import 'reset/reset.css';

html {
  font-family: Inter, Roboto, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans',
    -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
  font-weight: 400;
  color: #262626;
}

body { 
  background: #000000;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.container {
  background: #444444;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 1200px;
}

.image-view {
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  flex-grow: 5.3;
}

.image-view__content {
  position: relative;
  width: 100%;
  flex-grow: 1;
  overflow: hidden;

}

.image-view__content-refuse {
  z-index: 1;
  font-size: 18px;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  position: absolute;
  background: #a31712;
  border: solid 2px #850d0d;
  border-radius: 15px;
  width: 140px;
  height: 70px;
  left: 0px;
  right: 0px;
  bottom: 20px;
  margin: auto;
  transform: translateX(-80px);
}

.image-view__content-confirm {
  z-index: 1;
  font-size: 18px;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  position: absolute;
  background: #12a31c;
  border: solid 2px #308c0e;
  border-radius: 15px;
  width: 140px;
  height: 70px;
  left: 0px;
  right: 0px;
  bottom: 20px;
  margin: auto;
  transform: translateX(80px);
}

.image-view__content-container {
  transition: all .1s ease;
  height: 100%;
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.image-view__content-img-hidden {
  position: absolute;
  visibility: hidden;
}

.image-view__content-img {
  width: 100%;
  height: 100%;
  position: relative;
  object-fit: contain;
  transform: translate(0%, 0%)
}

.image-view__loading-input{
  z-index: 2;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 400px;
  height: 400px;
  border-radius: 10px;
  border: solid 2px white;
  background-color: black;
}


.image-view__loading-input__field{
  border-radius: 5px;
  border: solid 1px white;
  width: 300px;
  margin: 5px;
  font-size: 18px;
  color: white;
}

.image-view__loading-input__buttons{
  display: flex;
}

.image-view__loading-mockup {
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 75%;
  visibility: visible;
  transition: opacity 0.1s ease;
}

.image-view__loading-tryagain {
  width: 100px;
  height: 50px;
  background-color: rgba(128, 128, 128, 1);
  border-radius: 10px;
}

.image-view__loading-tryagain:hover {
  background-color: rgba(200, 200, 200, 1);
}

.image-view__loading-tryagain:active {
  background-color: rgba(240, 240, 240, 1);
}

.image-view__loading-cancel {
  width: 150px;
  height: 50px;
  margin: 10px;
  background-color: rgba(128, 128, 128, 1);
  border-radius: 10px;
}

.image-view__loading-cancel:hover {
  background-color: rgba(200, 200, 200, 1);
}

.image-view__loading-cancel:active {
  background-color: rgba(240, 240, 240, 1);
}

.image-view__loading-text-loading {
  display: block;
  color: white;
  margin: 20px;
}

.image-view__loading-text-error{
  display: block;
  color: white;
  margin: 20px;
}

.image-view__loading-tryagain:after {
  content: "Попробовать снова";
  color: black;
}

.image-view__loading-cancel:after {
  content: "Отмена";
  color: black;
}

.image-view__loading-error {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-view__loading-active {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-view__loading-active img {
  animation: 3s infinite linear loading-rotation;
}

.image-view__main-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-menu__start-button{
  width: 120px;
  height: 50px;
  margin: 15px;
  background-color: rgba(128, 128, 128, 1);
  border-radius: 10px;
}

.main-menu__start-button:hover {
  background-color: rgba(200, 200, 200, 1);
}

.main-menu__start-button:active {
  background-color: rgba(240, 240, 240, 1);
}

.main-menu__start-button:after {
  content: "Начать тестирование";
  color: black;
}

.main-menu__results-button{
  width: 120px;
  height: 50px;
  margin: 15px;
  background-color: rgba(128, 128, 128, 1);
  border-radius: 10px;
}

.main-menu__results-button:hover {
  background-color: rgba(200, 200, 200, 1);
}

.main-menu__results-button:active {
  background-color: rgba(240, 240, 240, 1);
}

.main-menu__results-button:after {
  content: "Все результаты";
  color: black;
}

.results {
  z-index: 1;
  min-width: 20%;
  max-width: 20%;
  padding: 16px;
  padding-right: 6px;
  background: rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
  overflow-x: hidden;
  opacity: 100%;
  transition: all .2s ease;
}

.results--summary {
  min-width: 800px;
  max-width: 800px;
  opacity: 100%;
}

.results--menu {
  min-width: 0px;
  max-width: 0px;
  opacity: 0%;
}

.image-view__results-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.results::-webkit-scrollbar {
  width: 10px;
}

.results::-webkit-scrollbar-thumb {
  border: 3px solid transparent;
  border-radius: 20px;
  background-color: #AAAAAA;
  background-clip: content-box;
}

.results-item__form-submit-button{
  width: 120px;
  height: 50px;
  margin: 15px;
  background-color: rgba(128, 128, 128, 1);
  border-radius: 10px;
}

.results-item__form-submit-button:hover {
  background-color: rgba(200, 200, 200, 1);
}

.results-item__form-submit-button:active {
  background-color: rgba(240, 240, 240, 1);
}

.results-item__form-submit-button:after {
  content: "Начать";
  color: black;
}

.results-item__form-cancel-button{
  width: 120px;
  height: 50px;
  margin: 15px;
  background-color: rgba(128, 128, 128, 1);
  border-radius: 10px;
}

.results-item__form-cancel-button:hover {
  background-color: rgba(200, 200, 200, 1);
}

.results-item__form-cancel-button:active {
  background-color: rgba(240, 240, 240, 1);
}

.results-item__form-cancel-button:after {
  content: "Отмена";
  color: black;
}

.results-item__restart-button{
  width: 120px;
  height: 50px;
  margin: 15px;
  background-color: rgba(128, 128, 128, 1);
  border-radius: 10px;
}

.results-item__restart-button:hover {
  background-color: rgba(200, 200, 200, 1);
}

.results-item__restart-button:active {
  background-color: rgba(240, 240, 240, 1);
}

.results-item__restart-button:after {
  content: "В меню";
  color: black;
}

.results-item__copy-button{
  width: 120px;
  height: 50px;
  margin: 15px;
  background-color: rgba(128, 128, 128, 1);
  border-radius: 10px;
}

.results-item__copy-button:hover {
  background-color: rgba(200, 200, 200, 1);
}

.results-item__copy-button:active {
  background-color: rgba(240, 240, 240, 1);
}

.results-item__copy-button:after {
  content: "Скопировать результат";
  color: black;
}

.results-item {
  position: relative;
  margin-bottom: 16px;
  background: #555555;
  width: 100%;
  cursor: pointer;
  border-radius: 6px;
  aspect-ratio: 3;
  text-align: left;
  align-items: center;
  color: #cccccc;
  animation: .1s ease-out 0s 1 slideInFromLeft;
}

.results-item__img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  background-image: url('/img/fingers/lvl1/0.jpg');
/*  background-image: url('/img/1612678074_74-p-kartinka-fon-zelenii-lug-125 1.png');*/
}

.result--mirror{
  transform: scaleX(-1);
  background-position: right;
}

.results-item__img--solved{
  border: solid 1px #308c0e;
}

.results-item__img--skipped {
  border: solid 1px #850d0d;
  opacity: 60%;
}
.results-item__time-spent {
  position: absolute;
  overflow: hidden;
   top: 20%;
  bottom: 0;
  margin: auto 0 auto 30%;
  font-size: 16px;
}

.results-item--summary {
  border-radius: 10px;
  aspect-ratio: 6;
  animation: .1s ease-out 0s 1 slideInFromLeft;
}

.results-item--summary .results-item__time-spent {
  font-size: 24px;
}

.image-view__results-list-menu{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.results-list-menu__profiles{
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  max-height: 500px;
}

.results-list-menu__profiles::-webkit-scrollbar {
  width: 10px;
}

.results-list-menu__profiles::-webkit-scrollbar-thumb {
  border: 3px solid transparent;
  border-radius: 20px;
  background-color: #AAAAAA;
  background-clip: content-box;
}

.results-list-menu__profiles-item{
  position: relative;
  margin-bottom: 16px;
  background: #333333;
  text-align: center;
  font-size: 24px;
  line-height: 48px;
  color: #ddd;
  min-height: 50px;
  width: 100%;
  cursor: pointer;
  border-radius: 6px;
  animation: .1s ease-out 0s 1 slideInFromLeft;
}

.navigation {
  position: absolute;
  z-index: 1;
  font-size: 14px;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 13px;
  min-height: 87px;
  background: rgba(0, 0, 0, 0.5);
}

.navigation__stop-button {
  color: #FFFFFF;
  width: 150px;
  height: 20px;
  visibility: hidden;
}

.navigation__stop-button:after {
  visibility: visible;
  content:'Остановить тестирование';
}

@keyframes loading-rotation {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(180deg);
  }
  100%{
    transform: rotateZ(360deg);
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}